header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-top: 1rem;
	padding-bottom: 2%;
	border-bottom: rgb(54, 255, 161) solid;
}

header img {
	width: 30px;
}

header h3 {
	font-size: 20px;
	font-family: "Quicksand";
	font-weight: 600;
}

.main-menu {
	padding: 0 0.5rem;
	background-color: rgb(247, 247, 247);
	border-radius: 10px;
}
